*.da
*.o
*.d
*.so
*.tlog
*.pdb
*.cache
*.sdf
*.exe
*.suo
*.log
*.idb
*.opensdf
*.ilk
*.pdb

ipch/
GLEngine/gen/
GLEngine/bin/
GLEngine/obj/
GLApp/obj/
GLApp/assets/modificationdates.txt
GLResourceBuilder/x64/
GLResourceBuilder/Win32/