*.da
*.o
*.d
*.so
*.tlog
*.opendb
*.pdb
*.cache
*.sdf
*.exe
*.iobj
*.ipdb
*.suo
*.log
*.idb
*.opensdf
*.ilk
*.pdb
GLEngine.VC.db
thumbs.db
PredictedInputCache_Debug_x64.dat
PredictedInputCache_Release_x64.dat

.vs/
ipch/
GLEngine/bin/
GLEngine/obj/
GLEngine/libs/
GLApp/obj/
GLResourceBuilder/bin/
GLResourceBuilder/obj/
GLBoatGame/obj/
GLEditor/bin/
GLEditor/obj/

GLEngine/Apps/App/bin/
GLEngine/Apps/App/obj/
GLEngine/Engine/Core/bin/
GLEngine/Engine/Core/obj/
GLEngine/Engine/Database/bin/
GLEngine/Engine/Database/obj/
GLEngine/Engine/Filesystem/bin/
GLEngine/Engine/Filesystem/obj/
GLEngine/Engine/Graphics/bin/
GLEngine/Engine/Graphics/obj/
GLEngine/Engine/Input/bin/
GLEngine/Engine/Input/obj/
GLEngine/Engine/Network/bin/
GLEngine/Engine/Network/obj/
GLEngine/Engine/ThirdParty/bin/
GLEngine/Engine/ThirdParty/obj/
GLEngine/Engine/Threading/bin/
GLEngine/Engine/Threading/obj/
