*.da
*.o
*.d
*.so
*.tlog
*.opendb
*.pdb
*.cache
*.sdf
*.exe
*.iobj
*.ipdb
*.suo
*.log
*.idb
*.opensdf
*.ilk
*.pdb
thumbs.db

ipch/
GLEngine/gen/
GLEngine/bin/
GLEngine/obj/
GLEngine/libs/
GLApp/obj/
GLResourceBuilder/x64/
GLResourceBuilder/Win32/
GLResourceBuilder/obj/